/* 头部导航栏样式 */
#header{
	width:100%;
    background: #000000;
    color:white;
}
/*顶部导航栏内容区域*/
#header_conten{
	width:1210px;
	height:65px;
    margin:0 auto;
}
#log{
    box-sizing: border-box;
    float:left;
   margin-top:25px;
   margin-left:25px;
}
#header_conten>#log>a{
    display:block;
    width:109px;
}
#log>a>img{
    width:100px;
    display:block;
}
/* 二级列表搜索框样式 */
#header_nav_main{
    float:left;
    height:100%;
    margin-left:9%;
}
#tbn ul li a{
    float:left;
    box-sizing:border-box;
    width:113px;
    line-height: 65px;
    color:white;
    font-size:16px;
    text-align:center;
    background:url(../sony_images/dot_down_black.jpg) no-repeat 95px center;
}
#serch{
    float:left;
    width: 265px;
    height:25px;
    padding-right:35px;
    border-radius:25px;
    text-indent:12px;
    margin-top:21px;
    background:white url(../sony_images/btn_search_03.jpg) no-repeat 239px center;
}
#list_serch{
    margin-left:20px;
}
#list_serch::after{
    content:"";
    display:block;
    clear:both;
}
/* 第一个二级列表 */
#tbn>ul>li>a:hover{
    background:white url(../sony_images/dot_down_blue.jpg) no-repeat 90px center;
    color: #1fa8e2;
}
#tbn ul li{
    float:left;
    text-align:center;
}
#list_l1{
    background: url("../sony_images/nav_line.jpg") no-repeat right center;
    position: relative;
}
#list_l1>.fenlei{
    display:none;
    z-index: 999;
}
#list_l1:hover>.fenlei{
    display: block;
    width:200px;
    height:500px;
    position:absolute;
    top:65px;
    right:0px;
    border:2px solid #000;
}
/* 头部导航栏右侧样式 */
#header_right{
    float:right;
    height:65px;
    font-size:14px;
    font-weight: bold;
    line-height: 65px;
}
#shopping_car{
    float:right;
    position:relative;
    width:40px;
    height:65px;
    background:url(../sony_images/icon_shopping_1.png) no-repeat center center;
}
#shuliang{
    width: 19px;
    height:19px;
    border-radius:50%;
    background-color:#e60000;
    line-height:19px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    font-weight: 500;
    color:#fff;
    position: absolute;
    top:19px;
    left:16px;
}
#header_right>div{
    float:right;
    margin-right:30px;
}
#header_right p{
    box-sizing:border-box;
    width:83px;
    background:url(../sony_images/dot_down_black.jpg) no-repeat right center;
}
#log_reg{
    float:right;
    color:#1fa8e2;
}
#log_reg>span{
    cursor: pointer;
}
#log_reg>span>a{
    color:#1fa8e2;
}