    /* 第五页 */
    .wu{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .content5{
        width: 100%;
        height: 56.25vw;
        background: url("../sony_images/index_sample.jpg") no-repeat;
        background-size:100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .content5>div{
        width: 77%;
        height: 71.5%;
        box-sizing: border-box;
        transform: translateY(6%);
        transition: relative;
    }
    .cards{
        background:transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10%;
    }
    .cards>li{
        font-size: 1.3em;
        color:white;
    }
    .images{
        width: 100%;
        height: 90%;
        overflow: auto;
    }
    .images::-webkit-scrollbar{
        width: 0px;
    }
    .images>div>img{
        width: 25%;
    }
    /* 滑动条 */
    .tiao{
        width: 1px;
        height: 100%;
        position: absolute;
        right: -30px;
        background: #ffe05b;
        top:0px;
    }
    .tiao>span{
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        transform: translateX(-50%);
        transition: all .18s
    }
    .tiao>span>img{
        position: relative;
        left: -30%;
    }
    /* 导航菜单 */
    .daohangMenu{
        position: fixed;
        top:-8%;
        left: 0px;
        width: 100%;
        height: 8%;
        background: #000;
        display: flex;
        align-items: center;
        z-index: 119;
        transition: all .4s;
        cursor: pointer;
    }
    .daohangMenu>div{
        width: 18.7%;
        height: 40%;
        display: flex;
        font-size: 1.4em;
        color:#ccc;
        align-items: center;
        justify-content: center;
        border-right:1px solid #575757;
    }
    .daohangMenu>div>img{
        height: 85%;
    }
    .daohangMenu>img{
        display:block;
        height: 40%;
        margin:0 auto;
        transition: all 1s;
    }
    .daohangMenu>span{
        position:absolute;
        width: 18.7%;
        background:#e92124;
        height:2px;
        top:85%;
        left:0%;
        transition: all .3s;
    }
    .left1{left:0% !important;}
    .left2{left:18.7% !important;}
    .left3{left:37.4% !important;}
    .left4{left:56.1% !important;}
    .left5{left:74.8% !important;}
    /* 导航菜单开关 */
    .menushow{
        border-bottom:1px solid;
        background: transparent;
        width: 2.3vw;
        position:fixed;
        right: 2%;
        top:8%;
        z-index: 110;
        line-height: 2.1em;
        color: #fff;
        padding: .8vw 0vw;
    }
    .menushow1{
        color: #000;
    }
    .menushow>li{
        line-height: inherit;
        font-size: 1vw;
        color:inherit;
    }
    /* 菜单开关 */
    .menu{
        position: fixed;
        right: 2%;
        top:3%;
        width: 6%;
        z-index: 110;
        font-size: 1.05vw;
        color:#ffffff;
        cursor: pointer;
    }
    .menu>img{
        width: 35%;
    }
    /* 导航 */
    .daohang{
        position: fixed;
        width:100%;
        height: 8%;
        top:0px;
        left: 0px;
        z-index: 100;
        display: flex;
        justify-content: center;
    }
    .daohang:hover>img{
        top: 0%;
    }
    .daohang>img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: -100%;
        transition: all .3s
    }
    /* 第一页 */
    .act1{
        opacity: 1 !important;
    }
    .act{
        display: block;
    }
    .box2>.act{
        display: flex !important;
    }
    .cont{
        width:100%;
        height:100vh;
        position:relative;
        overflow: hidden;
        background-color: #000;
    }
    /* 超大页面 */
    .main{
        width: 100%;
        height:3000px;
        position: relative;
        transition: all .7s;
    }
    .page{
        width:100%;
        height: 100vh;
        position:relative;
        overflow: hidden;
    }
    .boxul>li>img{
        max-width: 100%;
    }
    .boxul{
        width: 100%;
        position:absolute;
    }
    .boxul>li{
        width: 100%;
        height:100vh;
        position:absolute;
        top:0px;
        display: none;
        opacity: 0;
        display:flex;
        align-items: center;
        position:absolute;
        transition: all .3s;
    }
    .box1{
        top:0px;
    }
    .box2{
        bottom:0px;
    }
    .box1>li{
        overflow: hidden;
    }
    .box2>li{
        height: auto;
        bottom: 0px;
        opacity: 1;
        align-items: flex-end;
    }
    .box3{
        position:absolute;
        bottom:0px;
        width: 100%;
    }
    .box3>li{
        position:absolute;
        bottom: 0%;
    }
    .box3>li:first-child{
        width: 10.78%;
        left: 21.35%;
        height:17vw;
    }
    .box3>li:nth-child(2){
        width:14.43%;
        left: 35.78%;
        height: 15vw;
    }
    .box3>li:nth-child(3){
        width: 12.86%;
        left:53.07%;
        height: 13vw;
    }
    .box3>li:nth-child(4){
        width:6.15%;
        left:68.91%;
        height: 10vw;
    }
    /* 第二页样式 */
    .er{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .content{
        width: 100%;
        height: 60.5vw;
        background: url("../sony_images/index_family_190725 (1).jpg");
        background-size: 100%;
    }
    .contul{
        width: 100%;
        height: 100%;
        background-size:100%;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .contul>li{
        width: 100%;
        height: 9.5vw;
        background: url("../sony_images/family_190725.jpg") no-repeat;
        background-size:100vw;
        transition:all .3s linear;
    }
    .contul>li:hover{
        background:url("../sony_images/family_on_190725.jpg") no-repeat;
        background-size:100vw;
    }
    .contul>li:first-child{
        height: 13.54vw;
    }
    .contul>li:first-child:hover>img{
        display: inline-block;
        left:9.375vw;
    }
    .contul>li:nth-child(2){
        background-position: 0 -13.54vw;
    }
    .contul>li:nth-child(2):hover>img{
        display: inline-block;
        left:9.375vw;
    }
    .contul>li:nth-child(3){
        background-position: 0 -22.915vw;
    }
    .contul>li:nth-child(3):hover>img{
        display: inline-block;
        left:9.375vw;
    }
    .contul>li:nth-child(4){
        background-position: 0 -32.29vw;
    }
    .contul>li:nth-child(4):hover>img{
        display: inline-block;
        left:9.375vw;
    }
    .contul>li>img{
        width: 27.1875vw;
        position:absolute;
        top:7.1875vw;
        left: 25vw;
        display: none;
        transition:all 3s;
    }
    /* 第三页 */
    .san{
        width:100%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cont3{
        width:100%;
        height:56.25vw;
        background:url("../sony_images/index_advantage.jpg") no-repeat;
        background-size: 100%;
        background-position-x: center;
        position: absolute;
    }
    .contul3{
        width: 83%;
        height: 100%;
        background:transparent;
        margin: 0 auto;
        transform: translateX(2.8%);
        clear:both;
    }
    .contul3>li{
        width: 25%;
        height: 70%;
        float: left;
        position:relative;
        overflow: hidden;
    }
    .contul3>li>img{
        width: 100%;
        position: absolute;
        left: 0%;
        z-index: 1;
        transition: all .4s ease;
    }
    .contul3>li>img.on{z-index: 0;}
    .contul3>li:nth-child(1)>img{top: -70%;}    
    .contul3>li:nth-child(2)>img{top: -70%;}
    .contul3>li:nth-child(3)>img{top: -65%;}
    .contul3>li:nth-child(4)>img{top: -70%;}
    /* hover---on */
    .contul3>li:nth-child(1):hover>img.on{
        top: 0%;
        z-index: 55;
    }    
    .contul3>li:nth-child(2):hover>img.on{
        top: 0%;
        z-index: 55;
    }
    .contul3>li:nth-child(3):hover>img.on{
        top: 0%;
        z-index: 55;
    }
    .contul3>li:nth-child(4):hover>img.on{
        top: 0%;
        z-index: 55;
    }
    /* hover---text */
    .contul3>li:nth-child(1):hover>div,.contul3>li:nth-child(1):hover .txt span{color:#fff;z-index: 99999;}
    .contul3>li:nth-child(2):hover>div,.contul3>li:nth-child(2):hover .txt span{color:#fff;z-index: 99999;}
    .contul3>li:nth-child(3):hover>div,.contul3>li:nth-child(3):hover .txt span{color:#fff;z-index: 99999;}
    .contul3>li:nth-child(4):hover>div,.contul3>li:nth-child(4):hover .txt span{color:#fff;z-index: 99999;}
    .footimg{
        max-width: 100%;
        position: absolute;
        bottom:0px;
        left: 0px;
    }
    .txt{
        position: absolute;
        left:8%;
        width: 80%;
        background: transparent;
        text-align: left;
        font-family: "Microsoft YaHei";
    }
    .txt h3{
        font-size: 180%;
    }
    .txt span{
        display: block;
        color: #333;
        font-weight: bold;
    }
    .txt ul{
        background: transparent;
        margin-top:3.5%;
    }
    .txt1{top:48%;}
    .txt2{top:34%;}
    .txt3{top:46%;}
    .txt4{top:35%;}